.square {
    background-color: #53c9bc;
    padding: 22px;
}

.title {
    text-align: center;
}

.info {
    text-align: center;
}

.board-row {
    text-align: center;
}

.info {
    margin: auto;
    text-align: center;
    background-color: #63625c;
    width:25%;
}

.blackJack {
    background-color: yellow;
}

.player {
    text-align: left;
    
}

.computer {
    text-align: right;
}
.historyBtn {
    border-radius: 25px;
    background-color:#afc7ed;
    padding: 10px;
    text-decoration: none;
}
.res {
    background-color: #8ebfb3;
}

.container {
    text-align: center;
    padding: 1rem 1rem;
    margin: 1rem;

}

.diceSquare {
    height: 180px;
    width:30px;

    display: inline-block;
    vertical-align: middle;
    padding:1rem 1rem;

}
.DiceBtn  {
    border-radius: 25px;
    background-color:#afc7ed;
    padding: 10px;
    text-decoration: none;

}

.fruitsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fruits {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 0 0 1em 0;
    padding: 1em;
    border: 1px solid black;
  }

 .rollright {
    float: right;
 }

 .rollLeft {
    float:left;
 }

 .rollbtn {
    text-align: center;
 }
 .dropzone {
    background-color: red;
 }

 .overlay {
    background-color: red;
 }